---
layout: main
---

{% assign postDate = date | date: "%s" %}
{% assign currentDate = "now" | date: "%s" %}
{% assign daysAgo = currentDate | minus: postDate | divided_by: 86400 | round %}

<div class="breadcrumbs text-sm">
  <ul>
    <li><a href="/blog">Blog</a></li>
    <li>{{title}}</li>
  </ul>
</div>
<div class="container mx-auto max-w-screen-md pt-10">
  
{%  if tags %}  
  {% for tag in tags %}
    {% if tag != 'post' %}
      <div class="badge badge-ghost mr-2">{{ tag }}</div>
    {% endif %}
  {% endfor %}
{% endif %}

  <h1 class="text-3xl md:text-5xl font-bold pt-4">{{ title }}</h1>

  <p class="text-md text-gray-500 pb-2">
    Published  
    <time datetime="{{ date | date: '%Y-%m-%d' }}">
      {% if daysAgo < 50 %}
        {{ daysAgo }} day{% if daysAgo != 1 %}s{% endif %} ago
      {% else %}
        on {{ date | date: "%b %d, %Y"}}
      {% endif %}
    </time> by {{author}}
  </p>






  <div class="blog-post mt-5 pb-10 text-md">
    {{ content | markdownify }}
  </div>

</div>