---
title: Super Useful Blog
layout: main
permalink: /blog/
pagination:
    data: collections.post
    size: 4
    reverse: true
    alias: posts
---

<h1 class="font-bold text-3xl md:text-5xl text-center py-10">The Company Blog</h1>

<!-- Blog post grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
  {% for post in posts %}
    <div>
      <a href="{{ post.url }}" aria-label="Read blog post: {{post.data.title}}" class="block">
        <div class="blog-post-card card bg-base-100 shadow-xl overflow-hidden">
          {% if post.data.hero_image %}
            <figure>
              {% image post.data.hero_image.url, post.data.hero_image.alt %}
            </figure>
          {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{post.data.title}}</h2>
            <p class="text-sm text-gray-500 pb-2">{{ post.date | date: "%b %d, %Y"}}</p>
            {% if post.data.description %}
              <p>{{post.data.description | truncate: 150 }}</p>
            {% endif %}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

<!-- Pagination controls -->
{% include "pagination" %}
